.dash__container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  margin-left: 20px;
  margin-right: 8px;

  .dash__header {
    margin: 20px auto;
    text-align: center;
  }

  .dash__column {
    max-width: 25%;
    width: 25%;
    min-width: 25%;
    margin-right: 12px;
    .task__container {
      .task__task {
        padding: 9px;
        border-radius: 4px;
        border: 1px solid #b7b5b573;
        margin-bottom: 10px;
        background: #cccccc2b;
      }
    }
  }
}
.task__container {
  .task__add {
    form {
      //   display: flex;
      //   justify-content: space-evenly;
    }
  }
}
